<section class="pt-4 mt-2 pb-2 bg-dark rounded" [dir]="'DIRECTION' | translate">
  <div class="container">
    <div>
      <h3
        class="text-white text-capitalize mt-2 text-center py-3 px-2 rounded fw-bold w-100"
      >
        {{ "home-title" | translate }}
      </h3>
    </div>
    <div class="row pt-2 pb-5">
      <div class="col-md-6">
        <div class="row g-2">
          <div class="col-md-12">
            <div class="img-thumbnail pt-2">
              <span class="text-white fw-bold bg-dark p-1 rounded"
                >step 1 => app module</span
              >
              <hr />
              <img src="assets/home-pics/1.png" alt="" class="w-100" />
            </div>
          </div>
          <div class="col-md-12">
            <div class="img-thumbnail pt-2">
              <span class="text-white bg-dark p-1 fw-bold rounded"
                >step 2 => app module</span
              >
              <hr />
              <img src="assets/home-pics/2.png" alt="" class="w-100" />
            </div>
          </div>
          <div class="col-md-12">
            <div class="img-thumbnail pt-2">
              <span class="text-white fw-bold rounded p-1 bg-dark"
                >step 3 => app module</span
              >
              <hr />
              <img src="assets/home-pics/3.png" alt="" class="w-100" />
            </div>
          </div>
          <div class="col-md-12">
            <div class="img-thumbnail pt-2">
              <span class="text-white bg-dark p-1 rounded fw-bold"
                >step 4 => ar.json</span
              >
              <hr />
              <img src="assets/home-pics/4.png" alt="" class="w-100" />
            </div>
          </div>
          <div class="col-md-12">
            <div class="img-thumbnail pt-2">
              <span class="text-white fw-bold bg-dark p-1 rounded"
                >step 5 => en.json</span
              >
              <hr />
              <img src="assets/home-pics/5.png" alt="" class="w-100" />
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row g-2">
          <div class="col-md-12">
            <div class="img-thumbnail pt-2">
              <span class="text-white bg-dark p-1 rounded fw-bold"
                >step 6 => component.ts</span
              >
              <hr />
              <img src="assets/home-pics/7.png" alt="" class="w-100" />
            </div>
          </div>
          <div class="col-md-12">
            <div class="img-thumbnail pt-2">
              <span class="text-white bg-dark p-1 rounded fw-bold"
                >step 7 => component.ts</span
              >
              <hr />
              <img src="assets/home-pics/8.png" alt="" class="w-100" />
            </div>
          </div>
          <div class="col-md-12">
            <div class="img-thumbnail pt-2">
              <span class="text-white bg-dark rounded p-1 fw-bold"
                >step 8 => component.html</span
              >
              <hr />
              <img src="assets/home-pics/6.png" alt="" class="w-100" />
            </div>
          </div>
          <div class="col-md-12">
            <div class="img-thumbnail pt-2">
              <span class="text-white bg-dark p-1 rounded fw-bold"
                >step 9 => appComponent.ts (change the website Title lang)</span
              >
              <hr />
              <img src="assets/home-pics/9.png" alt="" class="w-100" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
